<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>MovieNights | Home</title>
</head>
<body>
<!-- .wrapper -->
<div class="wrapper-hm">
    <!-- HEADER -->
    <header>
        <div class="header">
            <div class="banner-userActions">
                <div class="banner">
                    <div class="name">
                        <p>
                            <a href="/">MovieNights</a>
                        </p>
                    </div>
                </div>
                <div class="userActions">
                    <div class="actions" id="register">
                        <a href="/register_form">register</a>
                    </div>
                    <div class="actions" id="log-in">
                        <a href="/login_form">log in</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER -->

    <!-- MAIN -->
    <main>
        <div class="main">
            <section class="results">
                <div class="res-col">
                    <h1>
                        welcome
                    </h1>
                    <p id="text">
                        MovieNights is here for you!Find every movie easy and fast.In case you want to save a movie to watch it later
                        you can add it to your bookmarks list only with one click.MovieNights offers you a special variety of movies
                        from adventure and comedy to drama and sci-fi.Thank you for visiting our website and hope you will have a great time.
                    </p>
                </div>
            </section>

            <section class="movies">
                <div class="backgr-img"></div>
            </section>
        </div>
    </main>
    <!-- MAIN -->

    <!-- FOOTER -->
    <footer>
        <div class="footer">
            <div class="contact-cpright">
                <div class="contact">
                    <div class="con-details">
                        <table>
                            <tr>
                                <th colspan="2">Contact details</th>
                            </tr>
                            <tr>
                                <td><p>Phone number:</p></td>
                                <td><a href="tel:+6948521458">6948521458</a></td>
                            </tr>
                            <tr>
                                <td><p>Email address:</p></td>
                                <td>
                                    <a href="mailto:stelioskokko@yahoo.gr"
                                    >stelioskokko@yahoo.gr</a
                                    >
                                </td>
                            </tr>
                        </table>
                        <div class="mediaIcons">
                            <ul class="media-icons-list">
                                <li><img src="./icons/facebook.png" alt="fb" /></li>
                                <li><img src="./icons/instagram.png" alt="in" /></li>
                                <li><img src="./icons/twitter.png" alt="tw" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cpright">
                    <p>
                        &copy; Copyright 2020
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER -->
</div>
<!-- .wrapper -->
</body>
</html>
